/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.forms{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.reg_form, .log_in_form{
    border: 2px solid darkgray;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    width: 350px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.reg_form input, .log_in_form input{
    margin-bottom: 10px;
    width: 300px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgb(124, 124, 124);
    padding: 10px;
}
.actionbtn{
    border: 2px solid rgb(90, 189, 156);
    padding: 8px 15px;
    border-radius: 32px;
}
.actionbtn:hover{
    transition: .3s;
    background:rgb(90, 189, 156);
    color: #fff;
}

.display{
    display: none;
}
.header{
    width: 100%;
    border: 2px solid darkgray;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.interface{
    display: flex;
    justify-content: space-between;
}

/*     conatcs css    */

.contacts .contact_section:first-child {
    border-radius: 8px 8px 0 0 ;
}
.contacts .contact_section:last-child {
    border-radius:0 0 8px 8px  ;
    border-bottom: 2px darkgray solid;
}
.search_contact{
    width: 350px;
    color: darkgray;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid darkgray;
    margin: 10px 0;
}
.contact_section{
    width: 350px;
    padding:15px 40px ;
    border-top: 2px darkgray solid;
    border-left: 2px darkgray solid;
    border-right: 2px darkgray solid;
    display: flex;
}

.contact_name{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

.profile_pic{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 999px;
    overflow: hidden;
}

/*     conatcs css  end  */

/*     chat css    */


.chat{
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    width: 100%;
    border-radius: 8px;
    margin: 10px 0 0 10px;
    height: 450px;
}
.chat_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px darkgray solid;
}
.chat_user_info{
    display: flex;
    align-items: center;
}
.call_btns{
    display: flex;
    align-items: center;
    color: rgb(6, 119, 81);
}
.call_btn:hover{
    transition: .3s;
    color: rgba(6, 119, 81, 0.7);
}
.call_btn{
    margin-left: 30px;
    font-size: 25px;
    padding: 8px;
}
.chat_messages_wrap{
    flex: 1;
    overflow-y: auto;
}
.chat_messages{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
}
.chat_message{
    padding: 10px;
    border: 1px solid #000;
    max-width: 75%;
}
.chat_message.outcome{
    align-self: flex-end;
}
.chat_message.income{
    align-self: flex-start;
}
.chat_bottom{
    display: flex;
    width: 100%;
}
.chat_msg{
    border: none;
    border-radius: 0 0 8px 8px;
    border-top: 1px darkgray solid;
    width:100%;
    padding:15px
}